.pokeTitle {
  text-align: center;
}

.pokemons {
  margin-top: 1.5rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.pokeLi {
  cursor: pointer;
  list-style: none;

  padding: 1rem;

  border: 2px solid whitesmoke;
  border-radius: .5rem;

  background: #0000008f;
}

@media (max-width: 768px) {
  .pokemons {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
