/* Onest font-family */
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.pokemons {
  margin-top: 1.5rem;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

@media (max-width: 768px) {
  .pokemons {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
